* {
    font-family: sans-serif;
}

 body {
    margin: 0;
    padding: 0;
}

/*header*/

.header {
    background: #1f2937;
    margin: 0;
    padding: 0;
}

.small-header {
    display: flex;
    justify-content: space-around;
}

h1 {
    color:#F9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
}

.big-header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 7em 20em;
    gap: 36px;
}

.big-header .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    flex: 1;
 
}

.big-header .right {
    background: gray;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    color: #E5E7EB;
    font-size: 18px;
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    
}

.p {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    margin-top: 12px;
    padding: 9px 36px;
    border-radius: 9px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 12px;
    font-weight: bold;
    border: 0px;
}

/*section_one*/

.section_one {
    display: flex;
    padding: 2em;
    gap: 72px;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 140px;
    gap: 9px;
}

.cube {
    width: 150px;
    height: 150px;
    border-radius: 9px;
    border: solid #3882F6;
}

h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
}

/*section_two*/

.section_two {
    background-color: #E5E7EB;
    padding: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
    max-width: 34em;
}

.thor {
    font-weight: bold;
    align-self: self-end;
    margin-right: 6em;
    font-size: 24px;
}

/*section_three*/

.section_three {
    padding: 12em;
}

.blue {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    border-radius: 9px;
}

.blue .left {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.blue .right {
    margin-top: 12px;
    padding: 9px 36px;
    border-radius: 9px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 12px;
    font-weight: bold;
    border: solid white;
}

.left .call {
    font-size: 24px;
    font-weight: bold;
}

/*footer*/

.footer {
    background: #1f2937;
    padding: 2em;
}

.footer_text {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}